[defaults]
inventory = inventory/hosts.ini
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
roles_path = roles
interpreter_python = auto_silent
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
